<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Find Restaurants</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- column -->
            <div class="col-md-12">
                <!-- Horizontal Form -->
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title"> "It makes me hungry just to look at it."</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div id="search">
                            <div class="row">
                                <div class="col-3"><label for="search_name_query">Search Name</label></div>
                                <div class="col-3"><label for="search_postcode_prefix">Search Postcode Prefix</label></div>
                                <div class="col-3"><label for="search_price_min">Search Price Min.</label></div>
                                <div class="col-3"><label for="search_price_max">Search Price Max.</label></div>
                            </div>
                            <div class="row">
                                <div class="col-3"><input class="form-control" id="search_name_query" placeholder="Name" v-model="data.name_query"></div>
                                <div class="col-3"><input class="form-control" id="search_postcode_prefix" placeholder="PostCode Prefix" v-model="data.postcode_prefix"></div>
                                <div class="col-3"><input type="number" class="form-control" id="search_price_min" placeholder="Price Min" v-model="data.price_min"></div>
                                <div class="col-3"><input type="number" class="form-control" id="search_price_max" placeholder="Price Max" v-model="data.price_max"></div>
                            </div>
                            <div class="row"><label></label></div>
                            <div class="row">
                                <div class="col-9"><label>Search Tags</label></div>
                                <div class="col-3"><label>Go Search!</label></div>
                            </div>
                            <div class="row">
                                <div class="col-9">
                                    <multiselect v-model="tags_with_name" placeholder="Search a tag" label="name" track-by="id" :options="all_tags" :multiple="true" :taggable="false"></multiselect>
                                </div>
                                <button class="col-3 btn btn-secondary">Search!</button>
                            </div>
                        </div>
                        <div class="row">
                            <label></label>
                        </div>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th style="width: 10%">Id</th>
                                    <th style="width: 20%">Name</th>
                                    <th style="width: 20%">Branch</th>
                                    <th style="width: 35%">Tags</th>
                                    <th style="width: 15%">Add to Cart</th>
                                </tr>
                            </thead>
                            <tbody id="restaurant">
                                <tr v-for="x in data">
                                    <td>{{x.id}}</td>
                                    <td>{{x.name}}</td>
                                    <td>{{x.branch}}</td>
                                    <td><span v-for="tag in x.tags"><span class="badge bg-success">{{tag.name}}</span>&nbsp;</span></td>
                                    <td>
                                        <button class="btn btn-sm btn-secondary" v-on:click="add_to_cart(x.id);">Add!</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-9" style="text-align: right">
                                <label for="page">Pages:&nbsp&nbsp</label>
                            </div>
                            <div class="col-3">
                                <select id="page" class="form-control float-right" v-model="select_page" @change="go_to_page();">
                                    <option v-for="i in Array.from(Array(total_page).keys())" v-bind:value="i+1">{{i+1}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-footer -->
                </div>
                <!-- /.card -->

            </div>
            <!--/.col -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
<script>
$(
function ()
{
    document.title = "Don't Starve! - Find Restaurants";
    ajax(
        "http://127.0.0.1:8493/api/find_restaurants",
        search.$data.data,
        function(res)
        {
            page.$data.page = page.$data.select_page = res["page"];
            page.$data.total_page = res["total_page"];
            restaurant.$data.data = res["restaurants"];
        }
    );
    ajax(
        "http://127.0.0.1:8493/api/find_tags",
        {},
        function(res){search.$data.all_tags = res;}
    );
    ajax(
        "http://127.0.0.1:8493/api/get_tags",
        {"ids": search.$data.data.tags},
        function(res) {search.$data.tags_with_name = res;}
    );
}
);
var search = new Vue(
    {
        el: "#search",
        components: {
            Multiselect: window.VueMultiselect.default
        },
        data: {
            data: {
                name_quiry: "",
                postcode_prefix: "",
                price_max: null,
                price_min: null,
                tags: [],
            },
            tags_with_name: [],
            all_tags: []
        }
    }
);
var page = new Vue(
    {
        el: "#page",
        data: {
            page: 0,
            total_page: 0,
            select_page: 0
        },
        methods: {
            go_to_page: function(){console.log(this.$data.select_page);}
        }
    }
)
var original_search = JSON.stringify(search.$data.data);
var restaurant = new Vue(
    {
        el: "#restaurant",
        data: {
            data:[]
        },
        methods: {
            add_to_cart: function(x){console.log(x);}
        }
    }
);
</script>
